img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

img:hover {
transform: scale(0.95);
transition: 0.5s;
}

nav {
width: 30%;
padding: 20px;
border-bottom: 2px solid #f1f1f1;

}

p {
	font-family: Raleway;
	font-weight: 800;
	font-size: 23px; 
	margin-left: 1.66%;
	text-transform: uppercase;
	width: 30%;
	padding-bottom: 20px;

}

section p {
  width: 80%;
  font-weight: 200;
	font-size: 23px; 
}